*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.sidebar
{
    width: 300px;
    height: 100vh;
    background-color:black;
    position: fixed;
}
.sidebar img
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid #212431;
    margin: 12px auto;
}
.sidebar h2
{
    color: white;
    margin-bottom: 12px;
}
.social-link a
{
    margin-right: 4px;
    font-size: 15px;
    background-color:#212431;
    border-radius: 50%;
    padding: 6px 9px;
    color: white;
}
.social-link a:hover
{
    background-color:rgb(84, 159, 245);
}
.navbar ul li
{
    list-style: none;
    padding: 8px 0px;
}
.navbar ul li a
{
    text-decoration: none;
    color: grey;
    font-weight: bold;
}
.navbar ul li i
{
    color: grey;
    font-weight: bold;
    font-size: 20px;
    margin-right: 4px;
}
.navbar ul li :hover
{
    color: white;
}
.navbar ul li a:hover i
{
    color:rgb(84, 159, 245);
}
.navbar ul .active a
{
    color: white;
}
.navbar ul .active i
{
    color:rgb(84, 159, 245);
}

.icon
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(84, 159, 245);
    position: fixed;
    right: 5%;
    top: 5%;
    z-index: 9999;
}
.plus::before
{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: #e4edf9;
    border-bottom: 1px solid white;
    position: absolute;
    left: 10px;
    top: 18px;
}

.plus::after
{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: #e4edf9;
    border-bottom: 1px solid white;
    position: absolute;
    left: 10px;
    top: 12px;
}
.plus1::before
{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: #e4edf9;
    border-bottom: 1px solid white;
    position: absolute;
    left: 10px;
    top: 24px;
}






/* bg image */
.hero
{
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('img/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}
.content
{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: white;
    width: 350px;
}
.content h2
{
    font-size: 55px;
}

.cd-headline.rotate-1 .cd-words-wrapper 
{
    display: inline-block;
    perspective: 300px;
}

.cd-headline.rotate-1 .cd-words-wrapper 
{
    display: inline-block;
    perspective: 300px;
}

.cd-headline.rotate-1 b 
{
    opacity: 0;
    transform-origin: 50% 100%;
    transform: rotateX(180deg);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}
  
.cd-headline.rotate-1 b.is-visible 
{
    position: relative;
    opacity: 1;
    transform: rotateX(0deg);
    animation: cd-rotate-1-in 1.2s;
}
  
.cd-headline.rotate-1 b.is-hidden
{
    transform: rotateX(180deg);
    animation: cd-rotate-1-out 1.2s;
}

.main
{
    position: absolute;
    left: 300px;
}
.container h2
{
    color: rgb(18, 18, 100);
    position: relative;
}

.container h2::after
{
    content:'';
    display:block;
    height:4px;
    width: 50px;
    background-color:rgb(84, 159, 245);
    transition:0.8s ease-in;
    margin: 20px 0px;
}
.about
{
    padding-left: 30px;
    padding-right: 30px;
}
.uiux img
{
    /* height: 280px; */
    width: 280px;
}
.info ul li
{
    list-style: none;
    margin-bottom: 18px;
}
.info ul li i
{
    color:rgb(84, 159, 245);
}
.facts
{
    padding: 30px;
}
.counter
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fact-item
{
    display: flex;
}

.counter .fact-item i
{
     color:rgb(84, 159, 245);
    font-size: 36px;
    margin-right: 12px;
}
.count 
{
    color: rgb(18, 18, 100);
    font-weight: bold;
    font-size: 36px;
    font-family: verdana;
}
.skills
{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    background-color: rgb(234, 238, 244);
}
.prog span
{
    font-weight: bold;
}
.resume
{
    padding-left: 30px;
    padding-right: 30px;
}
.line
{
    border-left: 2px solid rgb(18, 18, 100);
    padding-left: 10px;
}
.circle
{
    position: relative;
}

.circle::before
{
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    left: -19px;
    top: 0px;
    border: 2px solid rgb(18, 18, 100);
    background-color: white;
}


.head-3
{
    padding-bottom: 18px;
    font-size:26px;
}
.head-6
{
    padding-bottom: 18px;
    font-size: 18px;
    padding-top: 0%;
}
.resume ul
{
    padding-left: 16px;
}
.resume .year 
{
    font-size: 16px;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}
.portfolio
{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    background-color: rgb(234, 238, 244);
}
.navtab
{
    display: inline-block;
}
.navtab ul
{   
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
}
.navtab ul li button
{
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.navtab ul li .act
{
    color: rgb(84, 159, 245);
}
.navtab ul li button:hover
{
    color: rgb(84, 159, 245);
}
.images
{
    padding: 12px;
    position: relative;
}
.buton
{
    position: absolute;
    left: 0%;
    bottom:12px;
    width: 92%;
    margin-left: 12px;
    transition:all ease-in 0.3s;
    opacity: 0;
    z-index:3;
}
.images:hover .buton
{
    opacity: 1;
    
}
.img-fluid:hover
{
    opacity: 0.4;
}

.services
{
    padding: 60px 30px;
}

.icon-box {
    margin-bottom: 20px;
}
  
.icn {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #149ddd;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #149ddd;
  }
  
.icn i 
{
    color: #fff;
    font-size: 24px;
    line-height: 0;
}
  
.icon-box:hover .icn 
{
    background: #fff;
}
  
.icon-box:hover .icn i 
{
    color: #149ddd;
}
  
.title 
{
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}
  
.title a {
    color: #343a40;
    text-decoration: none;
}
  
.title a:hover 
{
    color: #149ddd;
}
  
.description 
{
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
}

.testimonial
{
    padding: 60px 30px;
    margin-top: 30px;
    background-color: rgb(234, 238, 244);
}
.testimonial .testimonial-item p
{
    font-style: italic;
    margin: 0 15px 15px 15px;
    padding: 20px;
    background: #fff;
    position: relative;
    margin-bottom: 35px;
    border-radius: 6px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.testimonial .testimonial-item p::after
{
content: "";
width: 0;
height: 0;
border-top: 20px solid #fff;
border-right: 20px solid transparent;
border-left: 20px solid transparent;
position: absolute;
bottom: -20px;
left: calc(50% - 20px);
}

.testimonial .testimonial-item img
{
    width: 100px;
    border-radius: 50%;
    margin: 10px auto 10px;
    display: block;
}
.testimonial .testimonial-item .img-data h3
{
    font-size: 20px;
}
.testimonial .testimonial-item .img-data span
{
    color: grey;
}

.contact-main
{
    background-color: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 30px;
}


.contacts
{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 100px;
}
.cont-box {
    margin-bottom: 20px;
}
  
.cont
 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background:#fff;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #149ddd;
  }
  
.cont i 
{
    color:  #149ddd;
    font-size: 24px;
    line-height: 0;
}
  
.cont-box:hover .cont 
{
    background: #149ddd;
}
.cont-box:hover .cont i 
{
    color: #fff;
}
.cont-box h4
{
    margin-left: 60px;
    margin-bottom: 5px;
    font-size: 18px;
}
.cont-box p
{
    margin-left: 60px;
    margin-bottom: 5px;
    font-size: 16px;
}
.form-group input
{
    margin-top: 8px;
    height: 44px;
    outline: none;
    border:1px solid gray;
}
.form-group textarea
{
    margin-top: 8px;
    outline: none;
    border:1px solid gray;
}
.form-button
{
    background: #149ddd;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
    margin-top: 16px;
}









/* cd-intro */

 @keyframes cd-rotate-1-in
{
    0% {
      transform: rotateX(180deg);
      opacity: 0;
    }
    35% {
      transform: rotateX(120deg);
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    100% {
      transform: rotateX(360deg);
      opacity: 1;
    }
}
  
@keyframes cd-rotate-1-out 
{
    0% {
      transform: rotateX(0deg);
      opacity: 1;
    }
    35% {
      transform: rotateX(-40deg);
      opacity: 1;
    }
    65% {
      opacity: 0;
    }
    100% {
      transform: rotateX(180deg);
      opacity: 0;
    }
}



/* Media Q */
@media (max-width:991px)
{
.main
{
    padding: 0px auto;
    position: absolute;
    left:0;
    width: 100%;
}
}